

.footer {
  font-family: 'Roboto';
  background-image: linear-gradient(#1F2833, black);
}

.container {
  display: flex;
  flex-direction: column;
}

.copyrightRow {
  padding: 0 0 1em;
  color: #C5C6C7;
  text-align: center;
  & > span {
    font-size: .8em;
  }
}

.links {
  padding: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.linksContainer {
  display: flex;
  flex-direction: column;

  & a {
    color: #C5C6C7;
    text-decoration: none;
  }
}
