

.container {
  max-width: 960px;
  width: 960px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  @media (max-width: 1280px) {
    max-width: 640px;
    width: 640px;
  }

  @media (max-width: 640px) {
    max-width: 100%;
    margin: 0 .5em;
  }
}

