
.spacer {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mdContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.docPadding {
  height: 20em;
}
