@import "../../partials/variables";

$doc-menu-section-width: 16em;

.placeholder {
  width: $doc-menu-section-width;
  min-width: $doc-menu-section-width;
  max-width: $doc-menu-section-width;

  @media (max-width: 960px) {
    display: none;
  }
}

.container {
  background-color: #fffefe;
  border-right: solid .1em $primary-color;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $doc-menu-section-width;

  @media (max-width: 960px) {
    display: none;
  }
}
