@import "../../partials/variables";

$doc-menu-section-width: 16em;

.container {
  background-color: #fffefe;
  border-right: solid .07em $primary-color;
  position: relative;
  height: 100%;
  width: $doc-menu-section-width;

  @media (max-width: 960px) {
    display: none;
  }
}
